!!!
.wrapper
	.information
		%h5 チャットグループが作成された
	.content.clearfix
		.left_space
			.left_over_space
				%h3 foggy-nia
				%span.fa.fa-camera-retro
			.left_under_space
				%h3 グループ名
				%p name
				%h3 グループ名
				%p name
				%h3 グループ名
				%p name
		.white_space
			.address_above
				%h2 sample グループ
				%p member JOJO
			.chat_center_space
				%h3 ryousukemaehara 
				%span 2016/10/10
				%p なるほど
				%h3 ryousukemaehara
				%span 2016/10/11
				%p コマンドでエンターを送信したい感はある
				%h3 ryousukemaehara
				%span 2016/10/12
				%p お腹すいた
			.input_message
				.blankofspace
				.send_button
					%p send
