.wrapper
	.content.clearfix
		.left_space
			.left_space__over
				%h3 foggy-nia
				%span.fa.fa-camera-retro
			.left_space__under
				- @groups.each do |group|
					%h2= group.group_name
					%P まだメッサージはありません。
		.white_space
			.white_space__above
				%h2 sample グループ
				%p member JOJO
			.white_space__center
				%h3 ryousukemaehara 
				%span 2016/10/10
				%p なるほど
				%h3 ryousukemaehara
				%span 2016/10/11
				%p コマンドでエンターを送信したい感はある
				%h3 ryousukemaehara
				%span 2016/10/12
				%p お腹すいた
			.input_message
				.blank_of_space
				.send_button
					%p send
